[package]
name = "wk-371tti-net-crawler"
version = "0.1.0"
edition = "2024"

[dependencies]
ego-tree = "0.10.0"
headless_chrome = {git = "https://github.com/rust-headless-chrome/rust-headless-chrome", features = ["fetch"]}
scraper = "0.24.0"
serde = { version = "1.0", features = ["derive", "rc"] }
