[package]
name = "wk-371tti-net-crawler"
version = "0.1.0"
edition = "2024"

[dependencies]
tokio = { version = "1", features = ["rt-multi-thread", "macros", "time"] }
reqwest = { version = "0.12", features = ["rustls-tls", "brotli", "gzip", "deflate", "zstd", "cookies"] }
anyhow = "1"
clap = { version = "4", features = ["derive"] }
scraper = "0.19"
serde = { version = "1", features = ["derive"] }
serde_json = "1"
url = "2"
headless_chrome = "1"
tracing = "0.1"
tracing-subscriber = { version = "0.3", features = ["env-filter", "fmt"] }
kurosabi = "0.4.7"
