[package]
name = "wk-371tti-net-crawler"
version = "0.1.0"
edition = "2024"

[dependencies]
headless_chrome = {git = "https://github.com/rust-headless-chrome/rust-headless-chrome", features = ["fetch"]}